<a href="https://colab.research.google.com/github/guikingoak/Estudos_Big_Data_Analytics/blob/main/ExCarros.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.3)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

Exercício 1: Carregar e Unir os Datasets
Enunciado: Carregue os datasets `cars1.csv` e `cars2.csv` como DataFrames no PySpark. Em seguida, una os dois DataFrames utilizando `UNION` para criar um único DataFrame que contenha todos os dados.

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import lit, col, avg

spark = SparkSession.builder \
    .appName("Exercicio Spark Merge e Filter") \
    .getOrCreate()

cars1 = spark.read.csv("cars1.csv", header=True, inferSchema=True)
cars2 = spark.read.csv("cars2.csv", header=True, inferSchema=True)

cars1_cols = cars1.columns
cars2_cols = cars2.columns

missing_cols_cars1 = [col_name for col_name in cars2_cols if col_name not in cars1_cols]
missing_cols_cars2 = [col_name for col_name in cars1_cols if col_name not in cars2_cols]


for col_name in missing_cols_cars1:
    cars1 = cars1.withColumn(col_name, lit(None).cast(cars2.schema[cars2_cols.index(col_name)].dataType))
for col_name in missing_cols_cars2:
    cars2 = cars2.withColumn(col_name, lit(None).cast(cars1.schema[cars1_cols.index(col_name)].dataType))

cars_union = cars1.union(cars2)

cars_union.show()

+----+---------+------------+----------+------+------------+-----+------+--------------------+----+----+----+----+----+
| mpg|cylinders|displacement|horsepower|weight|acceleration|model|origin|                 car| _c9|_c10|_c11|_c12|_c13|
+----+---------+------------+----------+------+------------+-----+------+--------------------+----+----+----+----+----+
|18.0|        8|         307|       130|  3504|        12.0|   70|     1|chevrolet chevell...|NULL|NULL|NULL|NULL|NULL|
|15.0|        8|         350|       165|  3693|        11.5|   70|     1|   buick skylark 320|NULL|NULL|NULL|NULL|NULL|
|18.0|        8|         318|       150|  3436|        11.0|   70|     1|  plymouth satellite|NULL|NULL|NULL|NULL|NULL|
|16.0|        8|         304|       150|  3433|        12.0|   70|     1|       amc rebel sst|NULL|NULL|NULL|NULL|NULL|
|17.0|        8|         302|       140|  3449|        10.5|   70|     1|         ford torino|NULL|NULL|NULL|NULL|NULL|
|15.0|        8|         429|       198|  4341|        10.0|   70|     1|    ford galaxie 500|NULL|NULL|NULL|NULL|NULL|
|14.0|        8|         454|       220|  4354|         9.0|   70|     1|    chevrolet impala|NULL|NULL|NULL|NULL|NULL|
|14.0|        8|         440|       215|  4312|         8.5|   70|     1|   plymouth fury iii|NULL|NULL|NULL|NULL|NULL|
|14.0|        8|         455|       225|  4425|        10.0|   70|     1|    pontiac catalina|NULL|NULL|NULL|NULL|NULL|
|15.0|        8|         390|       190|  3850|         8.5|   70|     1|  amc ambassador dpl|NULL|NULL|NULL|NULL|NULL|
|15.0|        8|         383|       170|  3563|        10.0|   70|     1| dodge challenger se|NULL|NULL|NULL|NULL|NULL|
|14.0|        8|         340|       160|  3609|         8.0|   70|     1|  plymouth 'cuda 340|NULL|NULL|NULL|NULL|NULL|
|15.0|        8|         400|       150|  3761|         9.5|   70|     1|chevrolet monte c...|NULL|NULL|NULL|NULL|NULL|
|14.0|        8|         455|       225|  3086|        10.0|   70|     1|buick estate wago...|NULL|NULL|NULL|NULL|NULL|
|24.0|        4|         113|        95|  2372|        15.0|   70|     3|toyota corona mar...|NULL|NULL|NULL|NULL|NULL|
|22.0|        6|         198|        95|  2833|        15.5|   70|     1|     plymouth duster|NULL|NULL|NULL|NULL|NULL|
|18.0|        6|         199|        97|  2774|        15.5|   70|     1|          amc hornet|NULL|NULL|NULL|NULL|NULL|
|21.0|        6|         200|        85|  2587|        16.0|   70|     1|       ford maverick|NULL|NULL|NULL|NULL|NULL|
|27.0|        4|          97|        88|  2130|        14.5|   70|     3|        datsun pl510|NULL|NULL|NULL|NULL|NULL|
|26.0|        4|          97|        46|  1835|        20.5|   70|     2|volkswagen 1131 d...|NULL|NULL|NULL|NULL|NULL|
+----+---------+------------+----------+------+------------+-----+------+--------------------+----+----+----+----+----+
only showing top 20 rows

Exercício 2: Filtrar e Agrupar Dados
Enunciado: A partir do DataFrame unido, filtre os carros que possuem mais de 4 cilindros. Em seguida, agrupe os dados por número de cilindros (`cylinders`) e calcule a média de `mpg` (milhas por galão) para cada grupo.

In [ ]:
from pyspark.sql.functions import col

filtered_cars = cars_union.filter(col("cylinders") > 4)

avg_mpg_by_cylinders = filtered_cars.groupBy("cylinders").agg(avg("mpg").alias("avg_mpg"))

avg_mpg_by_cylinders.show()

+---------+------------------+
|cylinders|           avg_mpg|
+---------+------------------+
|        6|19.985714285714288|
|        8|14.963106796116502|
|        5|27.366666666666664|
+---------+------------------+

Exercício 3: Join entre DataFrames
Enunciado: Considere que você adicionou uma coluna de `ID` única para ambos os DataFrames `cars1` e `cars2`. Realize um `JOIN` entre os dois DataFrames utilizando a coluna `car` (nome do carro). Use um `INNER JOIN` para trazer apenas os registros que estão presentes em ambos os datasets.

In [ ]:
from pyspark.sql.functions import monotonically_increasing_id

cars1 = cars1.withColumn("ID", monotonically_increasing_id())
cars2 = cars2.withColumn("ID", monotonically_increasing_id())

joined_df = cars1.join(cars2, on="car", how="inner")

joined_df.show()

+--------------------+----+---------+------------+----------+------+------------+-----+------+----+----+----+----+----+---+----+---------+------------+----------+------+------------+-----+------+----+----+----+----+----+---+
|                 car| mpg|cylinders|displacement|horsepower|weight|acceleration|model|origin| _c9|_c10|_c11|_c12|_c13| ID| mpg|cylinders|displacement|horsepower|weight|acceleration|model|origin| _c9|_c10|_c11|_c12|_c13| ID|
+--------------------+----+---------+------------+----------+------+------------+-----+------+----+----+----+----+----+---+----+---------+------------+----------+------+------------+-----+------+----+----+----+----+----+---+
|buick estate wago...|14.0|        8|         455|       225|  3086|        10.0|   70|     1|NULL|NULL|NULL|NULL|NULL| 13|16.9|        8|         350|       155|  4360|        14.9|   79|     1|NULL|NULL|NULL|NULL|NULL| 91|
|         peugeot 504|25.0|        4|         110|        87|  2672|        17.5|   70|     2|NULL|NULL|NULL|NULL|NULL| 20|27.2|        4|         141|        71|  3190|        24.8|   79|     2|NULL|NULL|NULL|NULL|NULL|101|
|         peugeot 504|25.0|        4|         110|        87|  2672|        17.5|   70|     2|NULL|NULL|NULL|NULL|NULL| 20|19.0|        4|         120|        88|  3270|        21.9|   76|     2|NULL|NULL|NULL|NULL|NULL| 11|
|       toyota corona|25.0|        4|         113|        95|  2228|        14.0|   71|     3|NULL|NULL|NULL|NULL|NULL| 31|27.5|        4|         134|        95|  2560|        14.2|   78|     3|NULL|NULL|NULL|NULL|NULL| 69|
|          ford pinto|25.0|        4|          98|         ?|  2046|        19.0|   71|     1|NULL|NULL|NULL|NULL|NULL| 32|26.5|        4|         140|        72|  2565|        13.6|   76|     1|NULL|NULL|NULL|NULL|NULL|  8|
|ford country squi...|13.0|        8|         400|       170|  4746|        12.0|   71|     1|NULL|NULL|NULL|NULL|NULL| 43|15.5|        8|         351|       142|  4054|        14.3|   79|     1|NULL|NULL|NULL|NULL|NULL| 92|
|    chevrolet malibu|13.0|        8|         350|       145|  3988|        13.0|   73|     1|NULL|NULL|NULL|NULL|NULL| 87|20.5|        6|         200|        95|  3155|        18.2|   78|     1|NULL|NULL|NULL|NULL|NULL| 55|
|chevrolet caprice...|13.0|        8|         400|       150|  4464|        12.0|   73|     1|NULL|NULL|NULL|NULL|NULL| 91|17.0|        8|         305|       130|  3840|        15.4|   79|     1|NULL|NULL|NULL|NULL|NULL| 87|
|chevrolet caprice...|13.0|        8|         400|       150|  4464|        12.0|   73|     1|NULL|NULL|NULL|NULL|NULL| 91|17.5|        8|         305|       145|  3880|        12.5|   77|     1|NULL|NULL|NULL|NULL|NULL| 23|
|          ford pinto|19.0|        4|         122|        85|  2310|        18.5|   73|     1|NULL|NULL|NULL|NULL|NULL|112|26.5|        4|         140|        72|  2565|        13.6|   76|     1|NULL|NULL|NULL|NULL|NULL|  8|
|      toyota mark ii|20.0|        6|         156|       122|  2807|        13.5|   73|     3|NULL|NULL|NULL|NULL|NULL|123|19.0|        6|         156|       108|  2930|        15.5|   76|     3|NULL|NULL|NULL|NULL|NULL| 12|
|          ford pinto|26.0|        4|         122|        80|  2451|        16.5|   74|     1|NULL|NULL|NULL|NULL|NULL|130|26.5|        4|         140|        72|  2565|        13.6|   76|     1|NULL|NULL|NULL|NULL|NULL|  8|
|   volkswagen dasher|26.0|        4|          79|        67|  1963|        15.5|   74|     2|NULL|NULL|NULL|NULL|NULL|142|30.5|        4|          97|        78|  2190|        14.1|   77|     2|NULL|NULL|NULL|NULL|NULL| 42|
|       toyota corona|31.0|        4|          76|        52|  1649|        16.5|   74|     3|NULL|NULL|NULL|NULL|NULL|144|27.5|        4|         134|        95|  2560|        14.2|   78|     3|NULL|NULL|NULL|NULL|NULL| 69|
|          dodge colt|28.0|        4|          90|        75|  2125|        14.5|   74|     1|NULL|NULL|NULL|NULL|NULL|146|27.9|        4|         156|       105|  2800|        14.4|   80|     1|NULL|NULL|NULL|NULL|NULL|125|
|         honda civic|24.0|        4|         120|        97|  2489|        15.0|   74|     3|NULL|NULL|NULL|NULL|NULL|149|38.0|        4|          91|        67|  1965|        15.0|   82|     3|NULL|NULL|NULL|NULL|NULL|185|
|         honda civic|24.0|        4|         120|        97|  2489|        15.0|   74|     3|NULL|NULL|NULL|NULL|NULL|149|33.0|        4|          91|        53|  1795|        17.4|   76|     3|NULL|NULL|NULL|NULL|NULL|  0|
|              subaru|26.0|        4|         108|        93|  2391|        15.5|   74|     3|NULL|NULL|NULL|NULL|NULL|150|32.3|        4|          97|        67|  2065|        17.8|   81|     3|NULL|NULL|NULL|NULL|NULL|148|
|       buick century|17.0|        6|         231|       110|  3907|        21.0|   75|     1|NULL|NULL|NULL|NULL|NULL|160|22.4|        6|         231|       110|  3415|        15.8|   81|     1|NULL|NULL|NULL|NULL|NULL|165|
|      toyota corolla|29.0|        4|          97|        75|  2171|        16.0|   75|     3|NULL|NULL|NULL|NULL|NULL|167|34.0|        4|         108|        70|  2245|        16.9|   82|     3|NULL|NULL|NULL|NULL|NULL|184|
+--------------------+----+---------+------------+----------+------+------------+-----+------+----+----+----+----+----+---+----+---------+------------+----------+------+------------+-----+------+----+----+----+----+----+---+
only showing top 20 rows

Exercício 4: Modificação dos Dados (Alterar Colunas)
Enunciado: Crie uma nova coluna chamada `performance` que classifique os carros da seguinte forma:
- Se o carro tem mais de 20 `mpg`, classifique como "Alta".
- Se o carro tem entre 15 e 20 `mpg`, classifique como "Média".
- Se o carro tem menos de 15 `mpg`, classifique como "Baixa".

In [ ]:
from pyspark.sql.functions import when

cars_union = cars_union.withColumn("performance", when(cars_union["mpg"] > 20, "Alta")
                                    .when((cars_union["mpg"] >= 15) & (cars_union["mpg"] <= 20), "Média")
                                    .otherwise("Baixa"))

cars_union.show()

+----+---------+------------+----------+------+------------+-----+------+--------------------+----+----+----+----+----+-----------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|model|origin|                 car| _c9|_c10|_c11|_c12|_c13|performance|
+----+---------+------------+----------+------+------------+-----+------+--------------------+----+----+----+----+----+-----------+
|18.0|        8|         307|       130|  3504|        12.0|   70|     1|chevrolet chevell...|NULL|NULL|NULL|NULL|NULL|      Média|
|15.0|        8|         350|       165|  3693|        11.5|   70|     1|   buick skylark 320|NULL|NULL|NULL|NULL|NULL|      Média|
|18.0|        8|         318|       150|  3436|        11.0|   70|     1|  plymouth satellite|NULL|NULL|NULL|NULL|NULL|      Média|
|16.0|        8|         304|       150|  3433|        12.0|   70|     1|       amc rebel sst|NULL|NULL|NULL|NULL|NULL|      Média|
|17.0|        8|         302|       140|  3449|        10.5|   70|     1|         ford torino|NULL|NULL|NULL|NULL|NULL|      Média|
|15.0|        8|         429|       198|  4341|        10.0|   70|     1|    ford galaxie 500|NULL|NULL|NULL|NULL|NULL|      Média|
|14.0|        8|         454|       220|  4354|         9.0|   70|     1|    chevrolet impala|NULL|NULL|NULL|NULL|NULL|      Baixa|
|14.0|        8|         440|       215|  4312|         8.5|   70|     1|   plymouth fury iii|NULL|NULL|NULL|NULL|NULL|      Baixa|
|14.0|        8|         455|       225|  4425|        10.0|   70|     1|    pontiac catalina|NULL|NULL|NULL|NULL|NULL|      Baixa|
|15.0|        8|         390|       190|  3850|         8.5|   70|     1|  amc ambassador dpl|NULL|NULL|NULL|NULL|NULL|      Média|
|15.0|        8|         383|       170|  3563|        10.0|   70|     1| dodge challenger se|NULL|NULL|NULL|NULL|NULL|      Média|
|14.0|        8|         340|       160|  3609|         8.0|   70|     1|  plymouth 'cuda 340|NULL|NULL|NULL|NULL|NULL|      Baixa|
|15.0|        8|         400|       150|  3761|         9.5|   70|     1|chevrolet monte c...|NULL|NULL|NULL|NULL|NULL|      Média|
|14.0|        8|         455|       225|  3086|        10.0|   70|     1|buick estate wago...|NULL|NULL|NULL|NULL|NULL|      Baixa|
|24.0|        4|         113|        95|  2372|        15.0|   70|     3|toyota corona mar...|NULL|NULL|NULL|NULL|NULL|       Alta|
|22.0|        6|         198|        95|  2833|        15.5|   70|     1|     plymouth duster|NULL|NULL|NULL|NULL|NULL|       Alta|
|18.0|        6|         199|        97|  2774|        15.5|   70|     1|          amc hornet|NULL|NULL|NULL|NULL|NULL|      Média|
|21.0|        6|         200|        85|  2587|        16.0|   70|     1|       ford maverick|NULL|NULL|NULL|NULL|NULL|       Alta|
|27.0|        4|          97|        88|  2130|        14.5|   70|     3|        datsun pl510|NULL|NULL|NULL|NULL|NULL|       Alta|
|26.0|        4|          97|        46|  1835|        20.5|   70|     2|volkswagen 1131 d...|NULL|NULL|NULL|NULL|NULL|       Alta|
+----+---------+------------+----------+------+------------+-----+------+--------------------+----+----+----+----+----+-----------+
only showing top 20 rows

Exercício 5: Contagem de Carros por Origem
Enunciado: Utilize o dataset unido para contar quantos carros há por `origin` (país de origem), e mostre o resultado ordenado de forma decrescente.

In [ ]:
cars_union.groupBy("origin").count().orderBy(col("count").desc()).show()

+------+-----+
|origin|count|
+------+-----+
|     1|  249|
|     3|   79|
|     2|   70|
+------+-----+

Exercício 6: Conversão de Colunas
Enunciado: A coluna `horsepower` contém valores que podem estar no formato string. Converta essa coluna para o tipo inteiro e, em seguida, calcule a média de `horsepower` para todos os carros.

In [ ]:
cars_union =  cars_union.withColumn("horsepower", col("horsepower").cast("int"))
cars_union.select(avg("horsepower")).show()

+------------------+
|   avg(horsepower)|
+------------------+
|104.46938775510205|
+------------------+

Exercício 7: Manipulação de Datas
Enunciado: Suponha que você adicionou uma coluna de data ao DataFrame indicando o ano em que cada carro foi registrado. Filtre o DataFrame para trazer apenas os carros com horse-power maior que 160

In [ ]:
cars_union = cars_union.withColumn("year", col("year").cast("int"))

In [ ]:
cars_union.filter(col("horsepower") > 160).show()

+----+---------+------------+----------+------+------------+-----+------+--------------------+----+----+----+----+----+-----------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|model|origin|                 car| _c9|_c10|_c11|_c12|_c13|performance|
+----+---------+------------+----------+------+------------+-----+------+--------------------+----+----+----+----+----+-----------+
|15.0|        8|         350|       165|  3693|        11.5|   70|     1|   buick skylark 320|NULL|NULL|NULL|NULL|NULL|      Média|
|15.0|        8|         429|       198|  4341|        10.0|   70|     1|    ford galaxie 500|NULL|NULL|NULL|NULL|NULL|      Média|
|14.0|        8|         454|       220|  4354|         9.0|   70|     1|    chevrolet impala|NULL|NULL|NULL|NULL|NULL|      Baixa|
|14.0|        8|         440|       215|  4312|         8.5|   70|     1|   plymouth fury iii|NULL|NULL|NULL|NULL|NULL|      Baixa|
|14.0|        8|         455|       225|  4425|        10.0|   70|     1|    pontiac catalina|NULL|NULL|NULL|NULL|NULL|      Baixa|
|15.0|        8|         390|       190|  3850|         8.5|   70|     1|  amc ambassador dpl|NULL|NULL|NULL|NULL|NULL|      Média|
|15.0|        8|         383|       170|  3563|        10.0|   70|     1| dodge challenger se|NULL|NULL|NULL|NULL|NULL|      Média|
|14.0|        8|         455|       225|  3086|        10.0|   70|     1|buick estate wago...|NULL|NULL|NULL|NULL|NULL|      Baixa|
|10.0|        8|         360|       215|  4615|        14.0|   70|     1|           ford f250|NULL|NULL|NULL|NULL|NULL|      Baixa|
|10.0|        8|         307|       200|  4376|        15.0|   70|     1|           chevy c20|NULL|NULL|NULL|NULL|NULL|      Baixa|
|11.0|        8|         318|       210|  4382|        13.5|   70|     1|          dodge d200|NULL|NULL|NULL|NULL|NULL|      Baixa|
| 9.0|        8|         304|       193|  4732|        18.5|   70|     1|            hi 1200d|NULL|NULL|NULL|NULL|NULL|      Baixa|
|14.0|        8|         350|       165|  4209|        12.0|   71|     1|    chevrolet impala|NULL|NULL|NULL|NULL|NULL|      Baixa|
|14.0|        8|         400|       175|  4464|        11.5|   71|     1|pontiac catalina ...|NULL|NULL|NULL|NULL|NULL|      Baixa|
|12.0|        8|         383|       180|  4955|        11.5|   71|     1|   dodge monaco (sw)|NULL|NULL|NULL|NULL|NULL|      Baixa|
|13.0|        8|         400|       170|  4746|        12.0|   71|     1|ford country squi...|NULL|NULL|NULL|NULL|NULL|      Baixa|
|13.0|        8|         400|       175|  5140|        12.0|   71|     1| pontiac safari (sw)|NULL|NULL|NULL|NULL|NULL|      Baixa|
|13.0|        8|         350|       165|  4274|        12.0|   72|     1|    chevrolet impala|NULL|NULL|NULL|NULL|NULL|      Baixa|
|14.0|        8|         400|       175|  4385|        12.0|   72|     1|    pontiac catalina|NULL|NULL|NULL|NULL|NULL|      Baixa|
|11.0|        8|         429|       208|  4633|        11.0|   72|     1|     mercury marquis|NULL|NULL|NULL|NULL|NULL|      Baixa|
+----+---------+------------+----------+------+------------+-----+------+--------------------+----+----+----+----+----+-----------+
only showing top 20 rows